<section id="users_data">
	<strong>Name:</strong>
	<%= @user.name %>
	<p>
	<div id="microposts">
		
		<% if @microposts.any? %>
		<strong>Microposts:</strong>
			<%= render @microposts %>
		<% end %>
	</div>
</section>

<section id = 'grouped_data'>
	<% if correct_user?(@user) %>
		<section id="posts">
			<%= form_for(@user.microposts.build, remote: :true) do |f| %>
				<div class="text_area">
					<strong>JSON post</strong><br>
					<%= f.text_area(:content, cols: 20, rows:10) %>

				</div>
				<%= f.submit 'Post' %>
			<% end %>
			</section><!--end of posts!-->
	<% end %>	
	<section id='show_users'>
		<strong>All current users</strong>
		<%= render @users %>
	</section><!-- end of show_users!-->
	
</section><!-- end of grouped data !-->

	

<% if correct_user?(@user) %>
	<section id="custom_phase2">
		<br>
		<%= form_for @user.microposts, url: microposts_path do |f| %>
			<strong>Ajax post</strong><br>
			<%= f.text_field :content %>
			<%= f.submit 'Post' %>
		<% end %>
		<br>
	</section>
<% end %>

	<section id = 'links'>
		<%= link_to 'Edit', edit_user_path(@user) %> |
		<%= link_to 'Back', users_path %>
	</section>

