
<%= render 'shared/messages' %>
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<div id="microposts">
<% if @microposts.any? %>
	

		<%= render @microposts %>	
<% end %>
</div>

<%= form_for(@user.microposts.build, remote: true) do |f| %>
	<div class="text_area">
		<%= f.text_area(:content, cols: 20, rows:10) %>

	</div>
	<%= f.submit 'Post' %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<div id="custom_phase2">
	<%= form_for @user.microposts, url: microposts_path do |f| %>
		<strong>first attempt</strong>
		<%= f.text_field :content %>
		<%= f.submit 'Post' %>
	<% end %>

</div>
