<section id = 'users_data'>
	<p>
	  <b>Name:</b>
	  <%= @user.name %>
	</p>

	<p>
	  <b>Email:</b>
	  <%= @user.email %>
	</p>
	<div id="microposts">
	<% if @microposts.any? %>
		

			<%= render @microposts %>	
	<% end %><hr width="45%">
	</div>
</section><!--end of users_data!-->

<section id = 'grouped_data'>
	
		<section id="posts">
			<%= form_for(@user.microposts.build, remote: :true) do |f| %>
				<div class="text_area">
					<strong>JSON post</strong><br>
					<%= f.text_area(:content, cols: 20, rows:10) %>

				</div>
				<%= f.submit 'Post' %>
			<% end %>
			</section><!--end of posts!-->
			<section id='show_users'>
				<strong>All current users</strong>
				<%= render @users %>
			</section><!-- end of show_users!-->
	
</section><!-- end of grouped data !-->

	

	<section id="custom_phase2">
		<br>
		<%= form_for @user.microposts, url: microposts_path do |f| %>
			<strong>Ajax post</strong><br>
			<%= f.text_field :content %>
			<%= f.submit 'Post' %>
		<% end %>
		<br>
	</section>

	<section id = 'links'>
		<%= link_to 'Edit', edit_user_path(@user) %> |
		<%= link_to 'Back', users_path %>
	</section>

